<h1>Cocktail X</h1>
<h2>Here the list of all our Cocktails</h2>

<div class="container">
  <h3>Cocktails' name : <%= @cocktail.name %></h3>
  <ul>
    <h4>Ingredients : <% @cocktail.doses.each do |dose| %></h4>
    <li><%= dose.ingredient.name %> : (<%= dose.quantity %><%= dose.description %>)</li>
    <%= link_to dose_path(dose), method: :delete do %>
        <i class="fa fa-close"></i>
        <% end %>
    <% end %>
  </ul>
</div>


<%= link_to "Return to Cocktails", cocktails_path %>
<%= link_to "Add ingredients", new_cocktail_dose_path(@cocktail) %>

