<h1>Cocktail</h1>

<div class="container">
  <h3><%= @cocktail.name %></h3>
  <p></p>
  <h4>Ingredients : </h4>
  <% @cocktail.doses.each do |dose| %>
  <ul>
    <li><%= dose.ingredient.name %><%= dose.description %><br><%= link_to "Delete an ingredient", dose_path(dose), method: :delete %></li>
    <% end %>
  </ul>
</div>


<%= link_to "Return to Cocktails", cocktails_path %>
<%= link_to "Add ingredients", new_cocktail_dose_path(@cocktail) %>
